.plantwrapper
  - @diaries.each do |diary|
    %h1= diary.plantopia.name

  %table
    %thead
      %tr
        %th The Plant diary
        %th
        %th
        %th

    %tbody
      - @diaries.each do |diary|
        %tr
          %td= diary.title
          %td= link_to 'Show', diary
          %td= link_to 'Edit', edit_diary_path(diary)
          %td= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' }
