.plantwrapper
  %h1= t('.title')

  %table
    %thead
      %tr
        %th= t('.name')
        %th= t('.contents')
        %th
        %th

    %tbody
      - @diaries.each do |diary|
        %tr
          %td= diary.plantopia.name
          %td.small= diary.title
          %td= link_to t('.show'), diary
          %td= link_to t('.edit'), edit_diary_path(diary)
          %td= link_to t('destroy'), diary, method: :delete, data: { confirm: 'Are you sure?' }
