= form_for @plantopium do |f|
  - if @plantopium.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plantopium.errors.count, "error")} prohibited this plantopium from being saved:"
      %ul
        - @plantopium.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label t('.title')
    = f.file_field :plantpic
  .field
    = f.label :name, t('.name')
    = f.text_field :name
  .field
    = f.label :description, t('.description')
    = f.text_area :description
  .actions
    = f.submit t('.action')
