.plantwrapper
  %h1= t('.title')

  %table
    %thead
      %tr
        %th= t('.name')
        %th= t('.description')
        %th
        %th
        %th

    %tbody
      - @plantopia.each do |plantopium|
        %tr
          %td= plantopium.name
          %td.small= plantopium.description
          %td= link_to t('.show'), plantopium
          %td= link_to t('.edit'), edit_plantopium_path(plantopium)
          %td= link_to t('.destroy'), plantopium, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to t('.new'), new_plantopium_path
