.show_wrapper

  %p
    %b= t('.name')
    = @plantopium.name
  %p
    %b= t('.description')
    = @plantopium.description

  %p
    %b= t('.picture')

  %p
    - if @plantopium.plantpic.attached?
      %img{:src => url_for(@plantopium.plantpic)}/

  %p
    - if not @hasdiary
      = link_to t('.create'), new_diary_path(plantopia_id: @plantopium)

  %p
    - if @hasdiary
      = link_to t('.view'), diaries_path

  = link_to t('.edit'), edit_plantopium_path(@plantopium)
  \|
  = link_to t('.back'), plantopia_path
