.show_wrapper

  %p
    %b Name:
    = @plantopium.name
  %p
    %b Description:
    = @plantopium.description

  %p
    %b Plant picture:

  %p
    - if @plantopium.plantpic.attached?
      %img{:src => url_for(@plantopium.plantpic)}/

  %p
    - if not @hasdiary
      = link_to 'Create Diary', new_diary_path(plantopia_id: @plantopium)

  %p
    - if @hasdiary
      = link_to 'View Diary', diaries_path

  = link_to 'Edit', edit_plantopium_path(@plantopium)
  \|
  = link_to 'Back', plantopia_path
