%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  / Brand/logo
  %a.navbar-brand{:href => "home"}
    %img{:src => image_url("logo.png")}/
  / Links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{:href => "home"}= t('.home')
    %li.nav-item
      %a.nav-link{:href => "plantopia"}= t('.entry')
    %li.nav-item
      %a.nav-link{:href => "contact"}= t('.contact')
  %ul.nav.navbar-right
    - if user_signed_in?
      %ul.nav-right
        %li.right
          = "#{current_user.email} "
          = ' | '
          = link_to t('profile'), edit_user_registration_path
        %li.right
          = link_to t('logout'), destroy_user_session_path, method: 'delete'
    - else
      %ul.nav-right
        %li.right
          = link_to t('login'), new_user_session_path
        %li.right
          = link_to t('sign_up'), new_user_registration_path

- flash.each do |key, value|
  = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
