%div.home
  %h1= t('.title')
  %p= t('.welcome')
  %img{:src => image_url("plant_growing.jpg")}/
  %p
  = t('.message1')
  %span{:style => "color:#0d7900;font-weight:bold;font-size:18px"}= t('.message2')
  = t('.message3')
